body
    background #000000

.toolbar
    margin-top 1%
    margin-left 3%
    min-width 50%
    max-width 95%
    height 25%
    position relative
    background #000000
    border 1px solid #FFFFFF66
    border-radius 15px
    .logo
        margin-left 3%
        margin-top .5%
    .search-box
        position absolute
        right 3%
        top 25%
        border none
        img
            width 9%
            height 9%
            vertical-align middle
        input
            height 40px
            width 350px
            border-radius 7px
            background black
            color white

.leftbar
    box-shadow 5.1px -5.1px 5.92px rgba(214, 213, 213, 0.4)
    display flex
    flex-direction column
    margin-left 3%
    margin-top 3%
    width 5%
    height 70vh
    background #000000
    border 1px solid #FFFFFF66
    border-radius 15px
    img
        width 50%
        height 30%
        margin-left 25%


.rightbar
    box-shadow -5.1px -5.1px 5.92px rgba(214, 213, 213, 0.4)
    display flex
    flex-direction column
    position absolute
    right 3%
    box-sizing content-box
    top 20%
    width 3%
    height 70vh
    background #000000
    border 1px solid #FFFFFF66
    border-radius 15px
    padding-bottom .5%
    img
        width 70%
        height 7%
        margin-left 15%
        margin-bottom 2%
        margin-top 15%

.main-content
    position absolute
    top 17%
    left 11%
    width 80%
    height 80vh
    color white
    border 1px solid #FFFFFF66
    border-radius 20px
    box-shadow 2px -7.1px 5.92px rgba(214, 213, 213, 0.4)

.diagram
    background red
    width 700px
    height 400px
